ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E7ECEF;
}

li {
    float: left;
    width: 20%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
}

li a:hover:not(.active) {
    background-color: #CFF6DD;
}

.active {
    background-color: #4CAF50;
}

#logo {
   text-align: center;
   font-family:cursive; 
   font-size: 45px;
   padding-top: 0px;
   margin-bottom: 0px;
   margin-top:-10px;
}

#logoAddress {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    padding-bottom: 25px;
}

#logoBackground {
    width: 70%;
    background-color: #66BFEC;
    margin: auto;
}

#navBar {
    width: 70%;
    margin: auto;
}

img {
    width: 30%;
    height: 30%;
    margin:auto;
}

.mySlides {
    display:none;
}

.body_slideshow {
    margin: auto;
    padding-top: 25px;
}

.about {
    float: left;
    width: 300px;
    border: 1px solid;
    margin: 2px 10px;
    padding: 25px;
    background-color: white;
}

.about > h2 {
    margin-top:0px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}

.about > p {
    text-align: left;
    margin-top: -5px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 200px;
  margin-top: -185px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 300px;
  margin: auto;
  text-align: center;
  font-size: 15px;
}

.footer {
    border: 1px solid;
    margin: auto;
    width: 70%;
    background-color: #66BFEC;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    margin-top: -185px;

}
